.category_container {
    padding-top: 80px;
    width: 100%;
    max-width: 1191px;
    margin: 0 auto 50px;

    h2 {
        text-align: left;
        padding-bottom: 2rem;
    }
    
}
.category_wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 70px;
}
